<div *ngIf="stats">
  <label>Sensor id: </label>
  <label >{{stats.sendorID}}</label>
</div>
<div *ngIf="stats" class="container">
  <div class="row">
    <div class="col-sm">
      <div>
        <label>CO Cleaner: </label>
        <label *ngIf="stats.CleanerCO">On</label>
        <label *ngIf="!stats.CleanerCO">Off</label>
      </div>
      <div>
        <label>CO Cleaner LVL:</label>
        <label>{{stats.CleanerCOLvl}}</label>
      </div>
    </div>
    <div class="col-sm">
      <div>
        <label>SO2 Cleaner: </label>
        <label *ngIf="stats.CleanerSO2">On</label>
        <label *ngIf="!stats.CleanerSO2">Off</label>
      </div>
      <div>
        <label>SO2 Cleaner LVL:</label>
        <label>{{stats.CleanerSO2Lvl}}</label>
      </div>
    </div>
    <div class="col-sm">
      <div>
        <label>NO2 Cleaner: </label>
        <label *ngIf="stats.CleanerNO2">On</label>
        <label *ngIf="!stats.CleanerNO2">Off</label>
      </div>
      <div>
        <label>NO2 Cleaner LVL:</label>
        <label>{{stats.CleanerNO2Lvl}}</label>
      </div>
    </div>
  </div>
</div>
<div id="chartNO2" style="width: 100%; height: 400px;"></div>
<div id="chartCO" style="width: 100%; height: 400px;"></div>
<div id="chartSO2" style="width: 100%; height: 400px;"></div>
