<div>
  <label>Sensor id: </label>
  <label id="senzorID"></label>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div>
        <label>CO Cleaner: </label>
        <label id="CleanerCO"></label>
      </div>
      <div>
        <label>CO Cleaner LVL:</label>
        <label id="CleanerCOLvl"></label>
      </div>
    </div>
    <div class="col-sm">
      <div>
        <label>SO2 Cleaner: </label>
        <label id="CleanerSO2"></label>
      </div>
      <div>
        <label>SO2 Cleaner LVL: </label>
        <label id="CleanerSO2Lvl"></label>
      </div>
    </div>
    <div class="col-sm">
      <div>
        <label>NO2 Cleaner: </label>
        <label id="CleanerNO2"></label>
      </div>
      <div>
        <label>NO2 Cleaner LVL: </label>
        <label id="CleanerNO2Lvl"></label>
      </div>
    </div>
  </div>
</div>
<div id="chartNO2" style="width: 100%; height: 400px;"></div>
<div id="chartCO" style="width: 100%; height: 400px;"></div>
<div id="chartSO2" style="width: 100%; height: 400px;"></div>
